name: Build Firmware

on:
  push:
    branches:
      - main
      - develop
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/bird-sanctuary/bluejay-builder
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}

    steps:
      - name: Code Checkout
        uses: actions/checkout@v2

      - name: Cache Toolchain
        id: cache-toolchain
        uses: actions/cache@v3
        with:
          path: ~/.wine
          key: toolchain-${{ hashFiles('~/.wine/drive_c/Keil_v5/TOOLS.INI') }}

      - name: Prepare environment
        if: steps.cache-toolchian.outputs.cache-hit != 'true'
        env:
          BUILD_ENV_URL: ${{ secrets.BUILD_ENV_URL }}
          BUILD_ENV_PASSWORD: ${{ secrets.BUILD_ENV_PASSWORD }}
        run: |
          rm -rf ~/.wine
          wget -c "$BUILD_ENV_URL" -O wine.zip
          unzip -P "$BUILD_ENV_PASSWORD" wine.zip -d ~/

      - name: Build Firmware
        run: make all

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: bluejay_ci_${{ github.run_number }}
          path: ./build/hex/*.hex
          retention-days: 30

      - name: Build Changelog
        if: startsWith(github.ref, 'refs/tags/v')
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v0.1.14
        with:
          body: ${{steps.github_release.outputs.changelog}}
          files: ./build/hex/*.hex
